# Ace Quant Test

## Answer 1

### *The cost of stock on each day is given in an array A[ ] of size N. Find all the segments of days on which you buy and sell the stock so that in between those days your profit is maximum.*

Using Greedy algorithm with O(N) time complexity

In [1]:
def stockBuySell(A, N):
    if N < 2:
        return []  

    result = []
    i = 0

    while i < N - 1:
        while i < N - 1 and A[i] >= A[i + 1]:
            i += 1
        if i == N - 1:
            break  
        
        buy = i  
        i += 1  
        
        while i < N and A[i] >= A[i - 1]:
            i += 1
        sell = i - 1  

        result.append([buy, sell])

    return result

Logic:
- First, the code checks if the len(array)<2, otherwise return empty list.
- First while - loop for traversing until i < len(array)-1, and then containing 2 nested while loop for getting buy and sell day's index.
- The first nested while loop moves forward, to know if the price is decreasing to find the buy day.
- The second nested while loop moves forward, to know if the price is increasing to find the sell day.
- The algorithm used is Greedy because it can observe a datapoint/element that is 1 index ahead/behind and not further in 1 step.

In [4]:
N = 7
A = [100,180,260,310,40,535,695]
Days = stockBuySell(A,N)
Days

[[0, 3], [4, 6]]

In [5]:
N = 5
A = [4,2,2,2,4]
Days = stockBuySell(A,N)
Days

[[3, 4]]

In [6]:
N = 5
A = [10, 9, 8, 7, 6]
Days = stockBuySell(A,N)
Days

[]

In [7]:
N = 5
A = [1, 2, 3, 4, 5]
Days = stockBuySell(A,N)
Days

[[0, 4]]

## Answer 2

In [8]:
import pandas as pd

In [13]:
data = pd.read_excel("Test_Question2.xlsx")
data.head()

   Group  First  Max  Min  Last  Sum
0      1     10   10   10    10   10
1      1     15   15   15    15   15
2      1     25   25   25    25   25
3      1      5    5    5     5    5
4      2     20   20   20    20   20

Using groupby function from pandas to get the required Output Table.

In [20]:
output = data.groupby('Group').agg({
    'First': 'first',   
    'Max': 'max',       
    'Min': 'min',       
    'Last': 'last',    
    'Sum': 'sum'       
}).reset_index()
output

   Group  First  Max  Min  Last  Sum
0      1     10   25    5     5   55
1      2     20   20   10    10   45
2      3      5   35    5    35  115
3      4     10   55   10    55  115
4      5     30   40   20    20   90